.fixtures {
  display: flex;
   flex-flow: row wrap;
   justify-content: center;
   width: 80%;
   margin: auto;
}

.fixtures-container {
  display: flex;
  flex-flow: row wrap;
}

.column1, .column2 {
  
  width: 100px;
  height: 100px;
  background-color: #88958D;
  justify-content: baseline;
  display: inline-block;
  margin: 15px 25px;
  
  border-radius: 50%;
}

.box-row {
  text-align: center;
}
