.fixtures {
  display: flex;
   flex-flow: row wrap;
   justify-content: center;
   width: 80%;
   margin: auto;
}

.fixtures-container {
  display: flex;
  flex-flow: row wrap;
}

.column1 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

.column2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
