.full-container {
  background: #232D3E;
  display: flex;
  height: 100%;
  /* max-width: 960px; */
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left, .right {
  flex-shrink: 0;
  padding: 0 60px;
}

.left {
  flex: 1;
}

.right {
  flex: 4;
}

.team-top {
  /* margin: auto; */
  text-align: center;
  /* padding: 0 90px; */
}

.team-top img {
  background: #fff;
}

.top-logo {
  margin-top: 15px;
  width: 100%;
  opacity: .7;
  height: 60px;
  background: #fff;
}
