.news-box {
  padding: 20px;

  text-align: center;
  font-size: 30px;
    display: inline-block;
    box-sizing: border-box;
}

.news-box a {
  text-decoration: none;
    color: #122F67;
}

.news-box img {
  width: 60px;

}

.news {
  text-align: center;
}

select {
  font-size: 1.3em;
  width: 20%;
  margin: 5px;
  outline: none;
  color: #38003c;
}
@media screen and (max-width: 1200px) {
	select{
    width:35%;
  }
}
@media screen and (max-width: 500px) {
	select{
    width:80%;
  }
}

.logos-container {
  text-align: center;
  padding: 0 130px;
}
