.news-box {
  padding: 20px;

  text-align: center;
  font-size: 30px;
  display: inline-block;
  box-sizing: border-box;
}

.news-box a {
  text-decoration: none;
  color: #122f67;
}

.news-box img {
  width: 60px;
}

.news {
  text-align: center;
}

select {
  font-size: 1.3em;
  width: 20%;
  margin: 5px;
  outline: none;
  color: #38003c;
}
@media screen and (max-width: 1200px) {
  select {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  select {
    width: 80%;
  }
}

.logos-container {
  text-align: center;
  padding: 0 130px;
}

@media (max-width: 768px) {
  .news h3 {
    font-size: 16px;
  }

  .logos-container {
    padding: 0 20px;
  }

  .news-box img {
    width: 20px;
  }
  .news-box {
    padding: 5px;
  }
}
