.news-box {

  padding: 22px;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 30px;
    display: inline-block;
    box-sizing: border-box;

}

.news-box a {
  text-decoration: none;
    color: #122F67;

}

.news-box img {
  width: 150px;
  height: 150px;
}
