.fixture {
  /* width: 500px; */
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 3px 3px 0 #f3eded;

  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 15px;
}

.fixture:hover,
.fixture:active {
  background-color: #082e40;
}

.GameCellTable {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.fixture:hover {
  background: #f9f9f9;
  transition: all 0.2s ease;
}

.GameCellTableCell {
  display: table-cell;
  padding: 0;
  margin: 0;
  table-layout: fixed;
  white-space: nowrap;
  vertical-align: top;
}

.GameCellSide1 {
  text-align: right;
  padding-left: 10px;
  padding-right: 1px;
}

.GameCellSide2 {
  text-align: left;
  padding-left: 1px;
}

.GameCellScore {
  width: 44px;
  text-align: center;
  color: #3a0115;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 700;
}

.GameCellSide1,
.GameCellSide2 {
  color: #111;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 768px) {
  .GameCellTable,
  .GameCellScore,
  .GameCellSide1,
  .GameCellSide2 {
    font-size: 11px;
  }
}
