.main-display {
  width: 100%;
  /* background-color: #ccc; */
  height: 700px;
}
/*
h1 {
  font-size: 6em;
}

h3 {
  font-size: 3em;
} */

.row {
  width: 100%;
}

.column {
  width: 50%;
  float: left;

}

.next-row {
  clear: both;
}
/*
.main-row h2 {
  font-size: 5em;
} */
.arsenal {
  background-color: red;
}
