.navigation {
  color: #AABD8C;
  list-style: none;

  margin: 0;
}

.navigation-link {
  border-bottom: none;
  padding: 15px;
  text-decoration: none;
  letter-spacing: .2rem;
  color: rgb(20, 32, 83);
  transition: all 0.3s ease;

}

.navigation-link:hover {
  color: #19A78E;
}

.navbar {
  text-align: center;
  margin: 0;
  padding: 15px;
}
