.more-button {
  background-color: transparent;
  color: #fff;
  border: #fff 3px solid;
  outline: none;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 20px;
}
